@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
}
/*
#F06543 #E8E9EB #E0DFD5 #313638 #F09D51 
*/
/*Set body*/
body {
  font-family: "Roboto", sans-serif;
  color: #313638;
  background-color: #e8e9eb;
}

/*Set box around web page defining max size*/
.cont {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
/*Set banner width*/
.banner img {
  width: 100%;
}

header {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.flex-cont1 {
  display: flex;
  justify-content: space-between;
}

.card1 {
  background-color: #fff;
  width: 30%;
  text-align: center;
  font-size: 0.75em;
  box-shadow: 0 0 20px rgba(240, 157, 81, 0.2);
  border-top-right-radius: 50px;
  border-bottom-left-radius: 75px;
}
.card1 img {
  width: 75%;
  object-fit: cover;
  aspect-ratio: 1;
  padding-top: 1em;
}

.card1 p {
  padding: 15px;
  text-align: justify;
}

.flex-cont2 {
  display: flex;
  justify-content: space-around;
}

.card2 {
  width: 48%;
  text-align: center;
}

.card2 img {
  width: 100%;
  border-radius: 50%;
}

.motto {
  font-size: 2.5em;
  line-height: 1em;
  font-weight: 200;
  color: #f09d51;
}

.flex-cont3 {
  display: flex;
  justify-content: space-between;
}

.card3 {
  width: 23%;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 0 10px rgba(240, 157, 81, 0.5);
}

.card3 img {
  width: 100%;
}

h2 {
  color: #f09d51;
}

h3 {
  color: #f06543;
}

span {
  font-weight: bold;
  color: #f06543;
}

.contd img {
  float: right;
  width: 100%;
  object-fit: cover;
}

.text-wrap {
  height: 300px;
}

.text-wrap p {
  word-wrap: normal;
}

.cont-p img {
  width: 25%;
}
/*-----Tables-------------------------------------------------------*/
table {
  border-collapse: collapse;
  margin: 2em auto;
  width: 100%;
  max-width: 700px;
  text-align: center;
}

th {
  background-color: #313638;
  color: #e8e9eb;
}

th,
td {
  border-bottom: 1px solid rgba(49, 54, 56, 0.5);
  padding: 0.3em 0;
}

/*td {
  background-color: rgba(240, 157, 81, 0.2);
}*/

tr:nth-child(odd) {
  background-color: rgba(49, 54, 56, 0.15);
}

tr:hover {
  background-color: rgba(240, 157, 81, 0.2);
}

td:nth-child(4) {
  text-align: right;
  padding-right: 2em;
}

/*-----Footer-------------------------------------------------------*/
footer {
  text-align: center;
  float: unset;
  background-color: #313638;
}
/*---------NAVBAR--------------*/
.topnav {
  overflow: hidden;
  background-color: #313638;
}

.topnav a {
  float: left;
  display: block;
  color: #e8e9eb;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgba(240, 157, 81, 0.5);
  color: #e8e9eb;
}

.topnav a.active {
  background-color: #f09d51;
  color: #e8e9eb;
}

.topnav .icon {
  display: none;
}

.contact {
  text-align: center;
}

/*-----Form-------------------------------------------------------*/
form {
  background-image: url(../web/images/banner_h.webp);
  background-size: cover;
  background-position: center center;
  border-top-left-radius: 10px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 0 20px rgba(49, 54, 56, 0.5);
  padding: 2em;
  background-repeat: no-repeat;
  text-align: left;
  margin-bottom: 2em;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="submit"],
select,
textarea {
  width: 100%;

  padding: 0.8em 1em;
  font-family: "Roboto", sans-serif;
  margin-bottom: 1em;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

fieldset {
  border-radius: 10px;
  width: 100%;
  margin-bottom: 2em;
  color: #313638;
}

input[type="submit"] {
  background-color: #313638;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 40px #f09d51;
}

input[type="submit"]:hover {
  background-color: #f09d51;
  box-shadow: 0 0 40px #313638;
}

textarea {
  height: 200px;
  resize: none;
}

iframe {
  width: 100%;
  height: 652px;
  border-top-left-radius: 50px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 50px;
}
/*-----MEDIA-------------------------------------------------------*/
@media screen and (max-width: 900px) {
  .motto {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 700px) {
  .motto {
    font-size: 1em;
  }

  .flex-cont3 {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .card3 {
    width: 45%;
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 600px) {
  .flex-cont1 {
    display: block;
  }
  .card1 {
    width: 100%;
  }
  .card1 p {
    font-size: 1.3em;
  }
  .flex-cont2 {
    display: block;
  }
  .card2 {
    width: 100%;
    font-size: 2em;
  }
  .card2 p {
    font-size: 1.5em;
  }
  .card2 img {
    width: 50%;
  }

  .flex-cont2 .podmotto {
    font-size: 0.75em;
  }

  .flex-cont3 {
    display: block;
  }
  .card3 {
    width: 100%;
    margin-bottom: 2em;
  }

  td {
    padding-right: 0;
  }

  table {
    font-size: 0.8em;
  }

  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  iframe {
    height: 300px;
  }

  fieldset {
    font-size: medium;
  }

  /* removing table when screensize is to small.
  
  table {
    display: none;
  }*/
}

/*
Guidline:

MOBILE PHONES: (320px <--> 480px) @media screen and (max-width: 480px)
TABLETS: (481px <--> 768px) @media screen and (min-width: 481px) and (max-width: 768px)
LAPTOPS: (769px <--> 1024px) @media screen and (min-width: 769px) and (max-width: 1024px)
DESKTOPS: (1025px -->) @media screen and (min-width: 1025px)

*/
